.fn{
    background-color:blue;
    font-size: 25px;
    color: white;
    padding: 5px;
    margin: 10px;
}
.cl{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 5px;padding-right: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete{
    cursor: pointer;
    font-size: 20px;
    padding: 0px 3px;
    border: 2px solid black;
    color:blue;
}